
$max-width:1100px;

$color-orange:#ffab73;
$color-yellow:#FFD384;
$color-lime:#fff9b0;
$color-pink:#ffaec0; // #ffaec0
$color-lite:#fff8f0; // #fff8f0
$color-coco:#351f02; // #351f02
$color-blue: #25b0f5;
$color-green: #00AF91;

$color-heading: #e27802;

// Set text color based on background
@function set-text-color($color){
    @if(lightness($color) >60){
        @return #333;
    }@else {
        @return #fff;
    }
}

// Set background & text color
@mixin set-background($color){
    background-color: $color;
    color:set-text-color($color);
}
