<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Home</a>
<h2>Registration Page</h2>
<br>
{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>
<form action="/account/create" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" placeholder="Enter your name" value="{{user.name}}">
    <br><br>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" placeholder="Enter your email" value="{{user.email}}">
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Create new password">
    <br><br>
    <label for="confirm_password">Confirm:</label>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Repeat password">
    <br><br>
    <input type="submit" name="submit" value="Sign Up">

</form>


</body>
</html>